<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Lista Medicos</title>
</head>
<body>
    <section class="tabla container">
    <nav>
        <a href="http://127.0.0.1:5000/medicos">Medicos</a>
        <a href="http://127.0.0.1:5000/pacientes"> Pacientes </a>
        <a href="http://127.0.0.1:5000/consultorios">Consultorios </a>
        <a href="http://127.0.0.1:5000/citas">Citas</a>
    </nav>
    <h1>Lista De Consultorios</h1>
    <table>
        <thead>
            <tr>
                <th>Consultorio</th>
            </tr>
        </thead>
        <tbody>
            {% for consultorio in consultorios %}
                <tr>
                    <td>{{ consultorio.numero }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</section>

</body>
</html>